.App {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Maitree', serif;
  display: flex;
  flex-direction: column;
}
.main-heading {
  background-color: #252B2B;
  opacity: 0.75;
  padding-top: 5px;
  margin-top: 20px;
  text-align: left;
  text-decoration: none;
}
.main-heading a {
  text-decoration: none;
  color: white;
  display: inline;
}
nav li {
 display:inline;
}
#heading {
  font-size: 70px;
  font-family: 'Stalemate', cursive;
  margin-left: -24px;
  letter-spacing: 2px;
  display: inline;
}
#nav-one {
  font-size: 16px;
  float: right;
  padding-top: 70px;
  margin-right: 45px;
  letter-spacing: 2px;
  font-family: 'Cormorant SC', serif;
}
#nav-two {
  font-size: 16px;
  float: right;
  padding-top: 70px;
  letter-spacing: 2px;
  margin-right: 28px;
  font-family: 'Cormorant SC', serif;

}
.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projects-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h3 {
  color: white;
  font-family: 'Cormorant SC', serif;
}
.add-project {
  text-align: center;
}
form {
  color: white;
  font-family: 'Cormorant SC', serif;
  font-stretch: expanded !important;
  background-color:  #252B2B;
  opacity: 0.75;
  text-align: center;
  padding: 1px 0 12px 0;
  letter-spacing: 2px;
}
form input {
  color: black;
  font-family: 'Maitree', serif !important;

}
form h5 {
  font-family: 'Cormorant SC', serif;
}
.form-group {
  padding: 0 10px 10px 10px;
  font-size: 12px;
}
.Project, .Projects {
  color: #566263;
}
.Project strong {
  font-weight: 600;
}
.Project img{
  max-width: 200px;
}
.Projects {
  width: 800px;
  margin-left: 25px;
}
.Project {
  max-width: 200px;
}
.Projects h4 {
  font-family: 'Cormorant SC', serif;
  text-align: center;
  color: white;
  padding: 5px;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #252B2B;
  opacity: 0.75;
  width: 800px;
}
.searchBox {
  margin-right: 25px;
}
.be-results img {
  max-width: 200px;
}
select {
  color: black !important;
}
/*animation*/
.App span:nth-child(1) {
  position: absolute;
}
.App span:nth-child(3) {
  position: absolute;
}
.App span:nth-child(1) {
  animation: App-span-spin infinite 2s linear ;
  height: 103px;
}
.App span:nth-child(3) {
  animation: App-span-spin infinite 2s linear ;
  height: 103px;
}
.App span:nth-child(2) {
  margin-left: 30px;
  margin-right: 5px;
}
@keyframes App-span-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
